body {
  margin: 0px;
  padding: 0px;
}

body, input, textarea {
  background: #eee;
  font-size: 10pt;
  font-family: メイリオ, Meiryo, sans-serif;
}

div.header {
  background: #404040;
  text-align: center;
}

hr {
  border-style: solid none none none;
  border-color: #444;
  border-width: 1px;
  margin: 10px 20px;
}

p, form, table, h1, h2, h3 {
  margin: 10px 20px;
  padding: 0px;
}

ul, ol {
  margin: 10px 20px;
  padding: 0px 0px 0px 20px;
}

h1 { border-bottom: solid 1px #444; }
h2 { border-bottom: solid 1px #ccc; }

table {
  border-collapse: collapse;
}

table th,
table td {
  border: solid 1px #888;
  padding: 0.2ex 0.5em;
}

table th {
  background: #ddd;
}

table td {
	background: #fff;
}

tr.frozen td {
  background: #ccc !important;
}

a:link { color: #06c; }
a:visited { color: #444; }
a:hover { color: #08f; }
a:active { color: #08f; }

tr.frozen td { color: #666; }

tr.frozen td a:link { color: #666; text-decoration: line-through; }
tr.frozen td a:visited { color: #666; text-decoration: line-through; }
tr.frozen td a:hover { color: #666; text-decoration: line-through; }
tr.frozen td a:active { color: #666; text-decoration: line-through; }

strong { color: #c00; font-weight: normal; }

ul#query_list {
  margin: 10px 20px;
  padding: 0px;
}

ul#query_list li {
  display: block;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

ul#query_list li.frozen {
  background: #ccc;
}

ul#query_list li.frozen a:link { color: #666; text-decoration: line-through; }
ul#query_list li.frozen a:visited { color: #666; text-decoration: line-through; }
ul#query_list li.frozen a:hover { color: #666; text-decoration: line-through; }
ul#query_list li.frozen a:active { color: #666; text-decoration: line-through; }

del {
  background: #ccc; 
  color: #666;
}

img {
    max-width: 100%;
    height: auto;
}