body, input, textarea {
  background: #eee;
  font-size: calc(12pt);
  font-family: メイリオ, Meiryo, sans-serif;
}

p, ul, ol, form, table {
  margin: 10px 20px;
  padding: 0px;
}

h1 {
  border-bottom: solid 1px black;
  margin: 10px 20px;
  padding: 0px;
}

table {
  border-collapse: collapse;
}

table th,
table td {
  border: solid 1px #888;
  padding: 0.2ex 0.5em;
}

table th {
  background: #ddd;
}

table td {
	background: #fff;
}

tr.frozen td {
  background: #ccc !important;
}

a:link { color: #06c; }
a:visited { color: #444; }
a:hover { color: #08f; }
a:active { color: #08f; }

tr.frozen td { color: #666; }

tr.frozen td a:link { color: #666; text-decoration: line-through; }
tr.frozen td a:visited { color: #666; text-decoration: line-through; }
tr.frozen td a:hover { color: #666; text-decoration: line-through; }
tr.frozen td a:active { color: #666; text-decoration: line-through; }
