body {
  margin: 0px;
  padding: 0px;
  background: #eee;
}

body, input, textarea, th, td {
  font-size: 10pt;
  font-family: メイリオ, Meiryo, sans-serif;
}

div.header {
  background: #404040;
  text-align: center;
}

div.author {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #ccc;
  padding: 2px;
}
div.author a { color: #ccc !important; }

hr {
  border-style: solid none none none;
  border-color: #444;
  border-width: 1px;
  margin: 10px 20px;
}

form {
  margin: 0px;
  padding: 0px;
}

p, table, h1, h2, h3 {
  margin: 10px 20px;
  padding: 0px;
}

ul, ol {
  margin: 10px 20px;
  padding: 0px 0px 0px 20px;
}

ul ul, ul ol, ol ul, ol ol {
  margin: 2px 0px;
  padding: 0px 0px 0px 20px;
}

h1 { border-bottom: solid 1px #444; }
h2 { border-bottom: solid 1px #ccc; }

div.note, div.warning {
  margin: 10px 20px;
  padding: 0px 0px 0px 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  min-height: calc(24px + 20px);
}

div.note {
  border-color: #68a;
  background: #e0f0ff;
  background-image: url(./icon24_info.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

div.warning {
  border-color: #ca8;
  background: #ffe;
  background-image: url(./icon24_warn.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

table {
  border-collapse: collapse;
}

table th,
table td {
  border: solid 1px #888;
  padding: 0.2ex 0.5em;
  white-space: nowrap;
}

table th {
  background: #ddd;
}

table td {
	background: #fff;
}

tr.frozen td {
  background: #ccc !important;
}

a:link { color: #06c; }
a:visited { color: #048; }
a:hover { color: #06c; background: #cef; }
a:active { color: #06c; background: #cef; }

tr.frozen td { color: #666; }
tr.frozen td a {
  color: #666 !important;
  text-decoration: line-through !important;
}
del.frozen_new { background: #8ff !important; }
tr.frozen_new td { background: #8ff !important; }

tr.rpspam td { background: #aca; }
span.rpspam { background: #aca; }

tr.sakura td { background: #fcf; }
span.sakura { background: #fcf; }

strong { color: #c00; font-weight: bold; }

ul#query_list {
  margin: 10px 20px;
  padding: 0px;
}

ul#query_list li {
  display: block;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

ul#query_list li.frozen {
  background: #ccc;
}

ul#query_list li.frozen a:link { color: #666; text-decoration: line-through; }
ul#query_list li.frozen a:visited { color: #666; text-decoration: line-through; }
ul#query_list li.frozen a:hover { color: #666; text-decoration: line-through; }
ul#query_list li.frozen a:active { color: #666; text-decoration: line-through; }

del {
  background: #ccc; 
  color: #666;
}

img {
  max-width: 100%;
  height: auto;
}

textarea {
  max-width: 100%;
}

img.profile_image {
  width: 48px;
  height: 48px;
  border-radius: 999px;
}

.menu_wrapper {
  line-height: 25pt;
}

.menu_item {
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 3px 10px;
}

.menu_selected {
  font-weight: bold;
  background: transparent;
  color: #000;
}

.menu_item { text-decoration: none !important; }

.gray {
  color: #666;
  font-size: smaller;
  font-weight: normal;
}

@media(min-width:640px){
  .for_mobile{
      display: none !important;
  }
}